

<div class="form-group">
    {{input type="text" value=searchLeg placeholder="Search..." class="awesomplete"}}
</div>

{{updateResults}}

{{#each items as |searchResults|}}
    <li>{{this}}</li>
{{/each}}